.important {
font-style: oblique;
font-family: 'Times New Roman', Times, serif;
background-color: beige;
}

.aboutme {
font-style: italic;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: brown;
}

.span {
font-weight: bolder;
color: blue;
}